.deleted-row {
    border: 2px solid #ff9999;
}  

img {
    width: 70px; /* Ancho deseado */
    height: 70px; /* Altura deseada */ 
  }

.custom-input {
    width: 50%; /* Puedes ajustar el valor según tus necesidades */
}